
*{
margin: 0;
padding: 0;
}
html,body{
    width: 100vw;
}
/* NAVBAR */
#nav{
    height: 80px;
    width: 100vw;
    background-color: rgba(79, 2, 2, 0.444);
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    gap: 50px;
}

#logo{
    height: 80%;
    display: flex;
    object-fit: cover;
    margin-left: 150px;
    align-self: center;
    border: 2px solid white;
    overflow: hidden;
    border-radius: 10px;
}

#navContents{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#navContents a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

#reservations{
    align-self: center;
}

.buttons{
    border-radius: 10px;
    background-color: crimson;
    color: white;
    border: none;
    height: 50px;
    width: 150px;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img_nature_wide.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box{
    height: 550px;
    width: 1000px;
    margin-bottom: 90px;
    border: 2px solid black;
    border-radius: 5%;
    margin: 20px;  
}