.containernav{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
#nav{
    height: 100px;
    width: 100vw;
    background-color: rgba(79, 2, 2, 0.444);
    /* opacity: 40%; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    position: fixed;
    gap: 50px;
    /* border: 2px solid white; */
    
}
#logo{
    height: 100%;
    display: flex;
    opacity: 100%;
    object-fit: cover;
    margin-left: 150px;
    border: 2px solid white;
    overflow: hidden;
    border-radius: 10px;
}
#navContents{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    /* border: 2px solid white; */
}
#navContents a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    
}
#Reservations{
    height: 50px;
    width: 150px;
    align-self: center;
    border-radius: 10px;
    background-color: crimson;
    color: white;
    border: none;
}
      .con1img img {
        width: 100%;
        height: 600px;
        position: relative;
        
      }
      * {
        margin: 0;
        padding: 0;
      }
      .text h1 {
        position: absolute;
        top: 70%;
        left: 47%;
        text-align: center;
        translate: -30px -350px;
        color: rgb(255, 26, 72);
        font-family: Georgia, serif;
        font-size: 40px;
      }
      .text p {
        position: absolute;
        top: 80%;
        left: 22%;
        text-align: center;
        translate: -30px -350px;
        color: white;
        font-size: 25px;
        width: 60%;
        font-family: Georgia, serif;
      }
     body{
        background-color: rgb(255, 242, 242);
         font-family: Georgia, serif;
     }

      .abouttext{
        font-family: Georgia, serif;
      }
      .abouttext h1 {
        margin-top: 70px;
        margin-left: 120px;
        color: crimson;
        
      }
      .abouttext p {
        margin-top: 20px;
        margin-left: 120px;
        width: 70%;
        margin-bottom: 70px;
       
      }
      .sector2img img{
        height: 450px;
        width: 450px; 
        border-radius: 50%;
        margin-top: 50px;
        margin-right: 100px;
        border: 5px solid crimson;
        
      }

      .container2{
         display: flex;
         margin-bottom: 30px;
      }
     .con3text{
        font-family: Georgia, serif;
        margin-top: 50px;
        text-align: center;
        margin-bottom: 100px;
     }

    .con3text{
        font-family: Georgia, serif;
     }

    .con3text h1{
        color: crimson;
        margin-bottom: 20px;
     }

    .con3text p{
        margin-bottom:10px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
     }

     .cards{
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-bottom: 100px;
       
     }
     .card1{
        height: 400px;
        width: 400px;
        background-color: white;
         border-radius: 30px;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
       
        
     }

    .card2{
        height: 400px;
        width: 400px;
        background-color: white;
         border-radius: 30px;
         box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
        
     }

    .card3{
        height: 400px;
        width: 400px;
        background-color: white;
        border-radius: 30px;
         box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
        
     }

    .card1:hover{
        height: 400px;
        width: 400px;
       background-color: rgb(95, 0, 0);
         color: white;
        border-radius: 30px;

        
     }

   .card2:hover{
        height: 400px;
        width: 400px;
        background-color: rgb(95, 0, 0);
        fill: white;
       color: white;

         border-radius: 30px;
        
     }

    .card3:hover{
        height: 400px;
        width: 400px;
        background-color: rgb(95, 0, 0);
        color: white;
         border-radius: 30px;
        
     }

     .bulbicon svg{
        height: 40px;
        width: 40px;
        margin-top: 50px;
        margin-left:175px;

      
     }

          .bulbicon h2{
         margin-top: 30px;
          margin-left:153px;
          
       
      
     }
               .bulbicon p{
         margin-top: 10px;
         width: 75%; 
         text-align: center;
         margin-left:50px; 
     }


     
     .sunicon svg{
        height: 40px;
        width: 40px;
        margin-top: 50px;
        margin-left:175px;

      
     }
               .sunicon h2{
         margin-top: 30px;
          margin-left:125px;
         
       
      
     }

                    .sunicon p{
         margin-top: 10px;
         width: 75%; 
         text-align: center;
         margin-left:50px; 
     }